{% extends 'layout-experimental.html.twig' %}

{% block body %}
    {{ parent() }}
    <img src="/img/loading.gif" class="loader" id="loading"/>
    <div class="object outer" id="main_container">

        <!-- BACKGROUNDS -->

        <img class="object z-background" id="story-background" src="/img/story.background.png" />

                <img class="object z-background" id="rsvp-background-colors" src="/img/rsvp.background-colors.png" />
        <img class="object z-background rotate" data-rotate-duration="15" id="rsvp-rotating-star" src="/img/rsvp.rotating-star.png" />
        <img class="object z-background" id="rsvp-background" src="/img/rsvp.background.png" />

        <img class="object z-background01 parallax" 
            data-parallax-id="space" 
            id="honeymoon-background"
            data-x-variance="100"
            data-y-variance="30"
            data-direction="-1"
            src="/img/honeymoon.background.jpg" 
        />
        <img class="object z-background01 parallax modal-trigger"
            data-parallax-id="space"
            data-x-variance="250"
            data-y-variance="20"
            data-direction="1"
            id="honeymoon-spaceship"
            src="/img/honemoon.spaceship.png"
        />
        <img class="object z-characters" id="honeymoon-title" src="/img/honeymoon.title.png" />
        <div class="object z-characters parallax-detector" data-parallax-id="space" id="honeymoon-parallax-detector"></div>

        <img class="object z-background" id="location-background" src="/img/location.background-color.png" />
        <img class="object z-background" id="location-layout" src="/img/location.layout.png" />

        <!-- CHARACTERS -->

        <!-- section: rsvp -->
        <img class="object z-characters scurry"
            data-start-scale="0.5"
            data-end-scale="0.85"
            data-end-top="1525"
            data-duration="3" 
            data-initial-delay="1" 
            data-random-delay-min="4" 
            data-random-delay-max="9" 
            id="rsvp-mouse" 
            src="/img/library.mouse.png" 
        />
         
        <img class="object z-characters" id="rsvp-rishi" src="/img/rsvp.rishi.png" />
        <img class="object z-characters" id="rsvp-prutha" src="/img/rsvp.prutha.png" />
        <img class="object z-characters" id="rsvp-elephant" src="/img/rsvp.elephant.png" />

        <img class="object z-characters swap" id="rsvp-coming" src="/img/rsvp.coming.swap.png" />
        <img class="object z-characters load-hide" id="rsvp-coming-swap" src="/img/rsvp.coming.png" />

        <img class="object z-characters swap modal-trigger" data-modal-id="rsvp_modal" id="rsvp-no" src="/img/rsvp.no.swap.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="rsvp_modal" id="rsvp-no-swap" src="/img/rsvp.no.png" />

        <img class="object z-characters swap modal-trigger" data-modal-id="rsvp_modal" id="rsvp-yes" src="/img/rsvp.yes.swap.png" /></a>
        <img class="object z-characters load-hide modal-trigger"  data-modal-id="rsvp_modal" id="rsvp-yes-swap" src="/img/rsvp.yes.png" />

        <img class="object z-characters" id="rsvp-model" src="/img/rsvp.model.png" />



        <!-- section: location -->
        <img class="object z-characters swap modal-trigger" data-modal-id="location_location_modal" id="location-location-button" src="/img/location.location.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="location_location_modal" id="location-location-button-swap" src="/img/location.location.swap.png" />
        <img class="object z-characters" id="location-location-subtext" src="/img/location.location.subtext.png" />

        <img class="object z-characters swap modal-trigger" data-modal-id="location_ceremony_modal" id="location-ceremony-button" src="/img/location.ceremony.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="location_ceremony_modal" id="location-ceremony-button-swap" src="/img/location.ceremony.swap.png" />
        <img class="object z-characters" id="location-ceremony-subtext" src="/img/location.ceremony.subtext.png" />
        
        <img class="object z-characters swap modal-trigger" data-modal-id="location_celebration_modal" id="location-celebration-button" src="/img/location.celebration.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="location_celebration_modal" id="location-celebration-button-swap" src="/img/location.celebration.swap.png" />
        <img class="object z-characters" id="location-celebration-subtext" src="/img/location.celebration.subtext.png" />



        <!-- section: story -->     
        <img class="object z-characters swap modal-trigger" id="story-title" data-modal-id="story_gallery_modal" src="/img/story.title.png" />
        <img class="object z-characters load-hide modal-trigger" id="story-title-swap" data-modal-id="story_gallery_modal" src="/img/story.title.swap.png" />
        
        <!-- shikar -->
        <img class="object z-characters replicate modal-trigger" 
            data-count="7"
            data-direction-left="-1"
            data-x-distance="1200"
            data-direction-top="1"
            data-y-distance="270"
            id="story-shikari"
            src="/img/story.shikari.png" 
        />

        <img class="object z-characters replicate modal-trigger"
            data-count="7"
            data-direction-left="1"
            data-x-distance="1150"
            data-direction-top="1"
            data-y-distance="700"
            id="story-amulgirl"
            src="/img/story.amulgirl.png"
        />

        <img class="object z-characters" id="story-buttering" src="/img/story.buttering.png" />
        <img class="object z-characters" id="story-marryme" src="/img/story.marryme.png" />
        
        <!-- section: honeymoon -->
        <img class="object z-characters swap modal-trigger" data-modal-id="honeymoon_modal" id="honeymoon-help" src="/img/honeymoon.help.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="honeymoon_modal" id="honeymoon-help-swap" src="/img/honeymoon.help.swap.png" />

        <!-- MODALS -->
        <div class="z-modal" id="rsvp_modal">
            <img class="modal-close" data-modal-id="rsvp_modal" src="/img/close-button.png" />
            <br class="clearfix"/>
            <div class='modal-content'>
                <iframe src="https://docs.google.com/forms/d/1RyWFrVand3SH3J0ynFxsaxbPgws_1eW1kQTThva_GJk/viewform?embedded=true" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>

        <div class="z-modal" id="location_location_modal">
            <img class="modal-close" data-modal-id="location_location_modal" src="/img/close-button.png" />
            <br class="clearfix"/>
            <div class='modal-content'>
                <h3>Hudson Hotel NYC</h3>
                5:30pm - 11pm<br />
                <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=Hudson+New+York,+West+58th+Street,+New+York,+NY,+United+States&key=AIzaSyBhVOFcoL36qVm9ETAcMfaQOC2bdMuIgnQ"></iframe>
            </div>
        </div>

        <div class="z-modal" id="location_ceremony_modal">
            <img class="modal-close" data-modal-id="location_ceremony_modal" src="/img/close-button.png" />
            <br class="clearfix"/>
            <div class='modal-content'>
                <h2>Sunday May 24th, 2015</h2>
                <h4>Hudson Hotel courtyard</h4>
                    <blockquote><h3>5:30pm</h3>cocktail hour</blockquote>
                    <blockquote><h3>6:30pm</h3>ceremony</blockquote>
            </div>
        </div>

        <div class="z-modal" id="location_celebration_modal">
            <img class="modal-close" data-modal-id="location_celebration_modal" src="/img/close-button.png" />
            <br class="clearfix"/>
            <div class='modal-content'>
                <h2>Sunday May 24th, 2015</h2>
                <h4>Hudson Hotel 24th floor deck</h4>
                    <blockquote><h3>7:30pm</h3>dinner</blockquote>
                    <blockquote><h3>9:30pm</h3>dancing</blockquote>
                    <blockquote><h3>11:00pm</h3>arcade club</blockquote>
            </div>
        </div>

        <div class="z-modal" id="story_gallery_modal">
            <img class="modal-close" data-modal-id="story_gallery_modal" src="/img/close-button.png" />
            <br class="clearfix"/>
            <div class="story-gallery" id="story-gallery">
                <img src="/img/story-gallery/story-gallery-background.gif" class="story-gallery-background" />
                <div class="story-gallery-display" data-loading-img-src="/img/loading.gif">
                    <div class="story-gallery-image">image</div>
                    <div class="story-gallery-caption">caption</div>
                </div>
            </div>
        </div>

        <div class="z-modal" id="honeymoon_modal">
            <img class="modal-close" data-modal-id="honeymoon_modal" src="/img/close-button.png" />
            <br class="clearfix"/>
            <div class='modal-content'>
                <h2>Registry</h2>
                
                    <blockquote>coming soon...</blockquote>
            </div>
        </div>
    </div>

{% endblock %}