{% extends 'layout-experimental.html.twig' %}

{% block body %}
    {{ parent() }}
    <img src="/img/loading.gif" class="loader" id="loading"/>
    <div class="object outer" id="main_container">

        <!-- BACKGROUNDS -->

        <img class="object z-background" id="story-background" src="/img/story.background.png" />
        <!--<img class="object z-background" id="story-heart" src="/img/story.heart.png" />-->

        <img class="object z-background" id="rsvp-background-colors" src="/img/rsvp.background-colors.png" />
        <img class="object z-background rotate" data-rotate-duration="15" id="rsvp-rotating-star" src="/img/rsvp.rotating-star.png" />
        <img class="object z-background" id="rsvp-background" src="/img/rsvp.background.png" />

        <img class="object z-background01 parallax" 
            data-parallax-id="space" 
            id="honeymoon-background"
            data-x-variance="100"
            data-x-shift="-100"
            data-y-variance="30"
            data-direction="-1"
            src="/img/honeymoon.background.jpg" 
        />
        <img class="object z-background01 parallax modal-trigger"
            data-parallax-id="space"
            data-x-variance="250"
            data-y-variance="50"
            data-direction="1"
            id="honeymoon-spaceship"
            src="/img/honemoon.spaceship.png"
        />
        <img class="object z-characters" id="honeymoon-title" src="/img/honeymoon.title.png" />
        <div class="object z-characters parallax-detector" data-parallax-id="space" id="honeymoon-parallax-detector"></div>

        <img class="object z-background" id="location-background" src="/img/location.background-color.png" />
        <img class="object z-background" id="location-layout" src="/img/location.layout.png" />

        <!-- CHARACTERS -->

        <!-- section: rsvp -->
        <img class="object z-characters scurry"
            data-start-scale="0.5"
            data-end-scale="0.85"
            data-end-top="1525"
            data-duration="3" 
            data-initial-delay="1" 
            data-random-delay-min="4" 
            data-random-delay-max="9" 
            id="rsvp-mouse" 
            src="/img/library.mouse.png" 
        />
         
        <img class="object z-characters" id="rsvp-rishi" src="/img/rsvp.rishi.png" />
        <img class="object z-characters" id="rsvp-prutha" src="/img/rsvp.prutha.png" />
        <img class="object z-characters" id="rsvp-elephant" src="/img/rsvp.elephant.png" />

        <img class="object z-characters swap" id="rsvp-coming" src="/img/rsvp.coming.swap.png" />
        <img class="object z-characters load-hide" id="rsvp-coming-swap" src="/img/rsvp.coming.png" />

        <img class="object z-characters swap modal-trigger" data-modal-id="rsvp_modal" id="rsvp-no" src="/img/rsvp.no.swap.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="rsvp_modal" id="rsvp-no-swap" src="/img/rsvp.no.png" />

        <img class="object z-characters swap modal-trigger" data-modal-id="rsvp_modal" id="rsvp-yes" src="/img/rsvp.yes.swap.png" /></a>
        <img class="object z-characters load-hide modal-trigger"  data-modal-id="rsvp_modal" id="rsvp-yes-swap" src="/img/rsvp.yes.png" />

        <img class="object z-characters" id="rsvp-model" src="/img/rsvp.model.png" />



        <!-- section: location -->
        <img class="object z-characters swap modal-trigger" data-modal-id="location_location_modal" id="location-location-button" src="/img/location.location.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="location_location_modal" id="location-location-button-swap" src="/img/location.location.swap.png" />
        <a href="mailto:pics@bandbajgayi.com?subject=wedding photos" title="email your photos!"><img class="object z-characters anchor" id="location-location-pics" src="/img/location.location.pics.png" /></a>
        <a href="https://instagram.com/dontshoeme/" target="_blank" title="follow"><img class="object z-characters anchor" id="location-location-instagram" src="/img/location.location.instagram.png" /></a>

        <!--<img class="object z-characters swap modal-trigger" data-modal-id="location_ceremony_modal" id="location-ceremony-button" src="/img/location.ceremony.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="location_ceremony_modal" id="location-ceremony-button-swap" src="/img/location.ceremony.swap.png" />-->
        <!-- <img class="object z-characters" id="location-ceremony-subtext" src="/img/location.ceremony.subtext.png" /> -->
        
        <!--<img class="object z-characters swap modal-trigger" data-modal-id="location_celebration_modal" id="location-celebration-button" src="/img/location.celebration.png" />
        <img class="object z-characters load-hide modal-trigger" data-modal-id="location_celebration_modal" id="location-celebration-button-swap" src="/img/location.celebration.swap.png" />-->
        <!--<img class="object z-characters" id="location-celebration-subtext" src="/img/location.celebration.subtext.png" />-->



        <!-- section: story -->


        <img class="object z-characters swap modal-trigger story-gallery-trigger" id="story-title" data-modal-id="story_gallery_modal" src="/img/story.title.png" />
        <img class="object z-characters load-hide modal-trigger" id="story-title-swap" data-modal-id="story_gallery_modal" src="/img/story.title.swap.png" />
        
        <!-- shikar -->
        <img class="object z-characters replicate" 
            data-count="7"
            data-direction-left="-1"
            data-x-distance="1200"
            data-direction-top="1"
            data-y-distance="270"
            id="story-shikari"
            src="/img/story.shikari.png" 
        />

        <img class="object z-characters replicate"
            data-count="7"
            data-direction-left="1"
            data-x-distance="1150"
            data-direction-top="1"
            data-y-distance="700"
            id="story-amulgirl"
            src="/img/story.amulgirl.png"
        />

        <img class="object z-characters" id="story-buttering" src="/img/story.buttering.png" />
        <img class="object z-characters" id="story-marryme" src="/img/story.marryme.png" />
        
        <!-- section: honeymoon -->
        <a href="http://www.honeyfund.com/wedding/rishiprutha" target="_blank"><img class="object z-characters swap anchor"  id="honeymoon-help" src="/img/honeymoon.help.png" /></a>
        <a href="http://www.honeyfund.com/wedding/rishiprutha" target="_blank"><img class="object z-characters load-hide anchor" id="honeymoon-help-swap" src="/img/honeymoon.help.swap.png" /></a>

        <img class="object z-characters swap modal-trigger" id="copyright" data-modal-id="copyright_modal" src="/img/copyright.png" title="copyright"/>
        <img class="object z-characters load-hide modal-trigger" id="copyright-swap" data-modal-id="copyright_modal" src="/img/copyright.swap.png" title="copyright"/>

        <!-- menu -->
        <img class="object z-characters menu swap scrollto" data-scrollto-id="rsvp" id="menu_rsvp" src="/img/menu.rsvp.png" />
        <img class="object z-characters menu load-hide scrollto" data-scrollto-id="rsvp" id="menu_rsvp-swap" src="/img/menu.rsvp.swap.png" />

        <img class="object z-characters menu swap scrollto" data-scrollto-id="location" id="menu_location" src="/img/menu.location.png" />
        <img class="object z-characters menu load-hide scrollto" data-scrollto-id="location" id="menu_location-swap" src="/img/menu.location.swap.png" />     

        <img class="object z-characters menu swap scrollto" data-scrollto-id="story" id="menu_story" src="/img/menu.story.png" />
        <img class="object z-characters menu load-hide scrollto" data-scrollto-id="story" id="menu_story-swap" src="/img/menu.story.swap.png" />

        <img class="object z-characters menu swap scrollto" data-scrollto-id="honeymoon" id="menu_honeymoon" src="/img/menu.honeymoon.png" />
        <img class="object z-characters menu load-hide scrollto" data-scrollto-id="honeymoon" id="menu_honeymoon-swap" src="/img/menu.honeymoon.swap.png" />

        <!-- MODALS -->
        <div class="z-modal" id="rsvp_modal">
            <img class="modal-close" data-modal-id="rsvp_modal" src="/img/close-button.png" /> <span class="modal-title">RSVP</span>
            <br class="clearfix"/>
            <div class='modal-content'>
                <iframe src="https://docs.google.com/forms/d/1RyWFrVand3SH3J0ynFxsaxbPgws_1eW1kQTThva_GJk/viewform?embedded=true" width="760" height="1400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>

        <div class="z-modal" id="location_location_modal">
            <img class="modal-close" data-modal-id="location_location_modal" src="/img/close-button.png" /> <span class="modal-title">Where / When</span>
            <br class="clearfix"/>
            <div class='modal-content location-location-content'>
                <div class="location-column-1">
                    <table>
                        <tr>
                            <td class="td-label">VENUE:</td>
                            <td>The Hudson Hotel<br />
                                356 W 58th Street<br />
                                New York, NY 10019<br />
                                Phone: 212-554-6000<br />
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label">DATE:</td>
                            <td>Sunday, May 24, 2015<br /><br /></td>
                        </tr>
                        <tr>
                            <td class="td-label">TIME:</td>
                            <td>5.00pm - 10.30pm<br /><br /></td>
                        </tr>
                        <tr>
                            <td class="td-label">&nbsp;</td>
                            <td class="map"><a href="https://www.google.com/maps/place/Hudson+New+York/@40.768257,-73.984728,15z/data=!4m2!3m1!1s0x0:0x38efbaf0350d6e5b?sa=X&ei=bqwkVf_aA4LcsAXzooQY&ved=0CLABEPwSMAo" target="_blank">Map</a></td>
                        </tr>
                        <tr>
                            <td class="td-label">DRESS CODE:</td>
                            <td>Creative Formal.<br />
                                Think like an artist.<br />
                                Experiment!
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="location-column-2">
                    <table>
                        <tr>
                            <td class="td-label" colspan="2">EVENTS OF THE DAY:<br /><br /></td>
                        </tr>
                        <tr>
                            <td class="td-label">5.30pm - 6.00pm:</td>
                            <td>Ceremony will start at 5:30pm sharp at Tequila Park on the 2nd floor behind the reception desk. It is an outdoor space.<br /></td>
                        </tr>
                        <tr>
                            <td class="td-label">6.00pm - 7.00pm:</td>
                            <td>Cocktail Hour at Tequila Park<br /></td>
                        </tr>                        
                        <tr>
                            <td class="td-label">7.00pm - 7.15pm:</td>                            
                            <td>Guests are requested to make their way to the 24th floor for the reception.</td>
                        </tr>
                        <tr>
                            <td class="td-label">7.15pm - 8.30pm:</td>
                            <td>Formal seated dinner at 24th floor Roof Top Glass tent<br /></td>
                        </tr>
                        <tr>
                            <td class="td-label">8.30pm - 10.30pm:</td>
                            <td>Party at the 24th floor Roof Top Glass tent<br /><br /></td>
                        </tr>                        
                        <tr>
                            <td class="td-label" colspan="2">End of Wedding!<br /><br /></td>
                        </tr>
                        <tr>
                            <td class="td-label">10.30pm onwards:</td>
                        </tr>
                        <tr>
                            <td class="td-label">For anyone who might want to continue the party beyond 10.30pm the hotel has a cool club called Half & Half on the 2nd flr.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="z-modal" id="location_ceremony_modal">
            <img class="modal-close" data-modal-id="location_ceremony_modal" src="/img/close-button.png" /> <span class="modal-title">Ceremony</span>
            <br class="clearfix"/>
            <div class='modal-content'>
                <h2>Sunday May 24th, 2015</h2>
                <h4>Hudson Hotel courtyard</h4>
                    <blockquote><h3>5:30pm</h3>cocktail hour</blockquote>
                    <blockquote><h3>6:30pm</h3>ceremony</blockquote>
            </div>
        </div>

        <div class="z-modal" id="location_celebration_modal">
            <img class="modal-close" data-modal-id="location_celebration_modal" src="/img/close-button.png" /> <span class="modal-title">Celebration</span>
            <br class="clearfix"/>
            <div class='modal-content'>
                <h2>Sunday May 24th, 2015</h2>
                <h4>Hudson Hotel 24th floor deck</h4>
                    <blockquote><h3>7:30pm</h3>dinner</blockquote>
                    <blockquote><h3>9:30pm</h3>dancing</blockquote>
                    <blockquote><h3>11:00pm</h3>arcade club</blockquote>
            </div>
        </div>

        <div class="z-modal" id="story_gallery_modal">
            <img class="modal-close story-gallery-close" data-modal-id="story_gallery_modal" src="/img/close-button.png" /> <span class="modal-title">Our Story</span>
            <br class="clearfix"/>
            <div class="story-gallery" id="story-gallery">
                <img src="/img/story-gallery/story-gallery-background.gif" class="story-gallery-background" />
                <div class="story-gallery-display" data-loading-img-src="/img/loading.gif">
                    <div class="story-gallery-image">image</div>
                    <div class="story-gallery-caption well">caption</div>
                </div>
            </div>
            <div class="story-gallery-nav">
                <a class="prev"></a>
                <a class="next"></a>
            </div>
        </div>

        <div class="z-modal" id="copyright_modal">
            <img class="modal-close" data-modal-id="copyright_modal" src="/img/close-button.png" /> <span class="modal-title">Copyright and Credits</span>
            <br class="clearfix"/>
            <div class='modal-content'>
                &copy; 2015 | Website created by <a href="http://dethbird.com" target="_blank">Rishi Satsangi</a> & <a href="http://dontshoeme.com" target="_blank">Prutha Raithatha</a>.
            <blockquote><small>DISCLAIMER: Some graphics on this website are from random places on the internet. All credit and copyright belongs to them.
                Other graphics have been created by us with our own bare hands. All credit and copyright to that belongs to us. We wouldn't be against sharing if you ask nicely.</small></blockquote>
            </div>
        </div>
        <!--<div class="object z-character" id="copyright">
            <a href="#" class="modal-trigger" id="copyright-link" data-modal-id="copyright_modal" title="Click here for more information">&copy; 2015 ...</a> | Website created by <a href="http://dethbird.com" target="_blank">Rishi Satsangi</a> & <a href="http://dontshoeme.com" target="_blank">Prutha Raithatha</a>.
            <blockquote><small>DISCLAIMER: Some graphics on this website are from random places on the internet. All credit and copyright belongs to them.
                Other graphics have been created by us with our own bare hands. All credit and copyright to that belongs to us. We wouldn't be against sharing if you ask nicely.</small></blockquote>
        </div>-->
    </div>

{% endblock %}