{% extends 'layout-experimental.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="outer">
		
		<img class="object z-characters" id="rsvp-elephant" src="/img/rsvp.elephant.png" />
		<img class="object z-characters swap" id="rsvp-coming" src="/img/rsvp.coming.swap.png" />
		<img class="object z-characters load-hide" id="rsvp-coming-swap" src="/img/rsvp.coming.png" />

		<img class="object z-background" id="rsvp-background" src="/img/rsvp.background.jpg" />
	</div>

{% endblock %}