<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title ng-bind="title">{% block title %}Wedding{% endblock %}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- jquery -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//assets.artistcontrolbox.com/js/jquery-ui.min.js"></script>
  <script src="//assets.artistcontrolbox.com/js/url.min.js"></script>
  <script src="//assets.artistcontrolbox.com/js/autolink-min.js"></script>
  <script src="//imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>


	<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
  <link rel="stylesheet" href="/css/site.css">

  <!-- google font -->
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rosario:400,700' rel='stylesheet' type='text/css'>
  <script>
    document.onReady(function(){

    });
  </script>
  
  {% block headscript %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation" ng-controller="NavController">
  <!-- Brand and toggle get grouped for better mobile data-dismissplay -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gallery-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">HOME </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="gallery-navbar-collapse">
    <ul class="nav navbar-nav">      
      <li class="{%if section=='prutha'%} active{%endif%}">
        <a href="/prutha"> Prutha </a>
      </li>
      <li class="{%if section=='rishi'%} active{%endif%}">
        <a href="/rishi"> Rishi </a>
      </li>
      <li class="{%if section=='story'%} active{%endif%}">
        <a href="/story"> Our Story </a>
      </li>
      <li class="{%if section=='details'%} active{%endif%}">
        <a href="/details"> Wedding Details </a>
      </li>
      <li class="{%if section=='location'%} active{%endif%}">
        <a href="/location"> Location </a>
      </li>
      <li class="{%if section=='gallery'%} active{%endif%}">
        <a href="/gallery"> Gallery </a>
      </li>
      <li class="{%if section=='store'%} active{%endif%}">
        <a href="http://society6.com/dethbird/prints" target="_blank"> Registry </a>
      </li>
      <li class="{%if section=='rsvp'%} active{%endif%}">
        <a href="/rsvp"> RSVP </a>
      </li>
      <li class="{%if section=='contact'%} active{%endif%}">
        <a href="/contact"> Contact Us </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
	{% block body %}{% endblock %}
</div>

<div class="container" id="copyright-container">
<center>&copy; 2015</center>
</div>
</body>
</html>