body {
    background-image:url("../img/pics-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #aaa;
}

/** PICS **/
.photo {
    min-width: 200px;
    min-height: 200px;
    margin:0px 0px 15px 0px;
    text-align: center;
}
.photo img {
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    border: 5px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    3px 3px 11px 0px rgba(50, 50, 50, 0.61);
    box-shadow:         3px 3px 11px 0px rgba(50, 50, 50, 0.61);
}
#pics-container, #header-container {
    position:absolute;
    z-index: 50;
}
#pics-container {
    top: 50px;
    left: 50px;
}
#overlay-background {
    z-index:100;
    background-color:black;
    opacity: 0.73;
    position:absolute;
}
#overlay-photo-container {
    position:absolute;
    z-index: 200;
    text-align:center;
}
#overlay-photo {
    vertical-align: middle;
    display:inline-block;
    border: 10px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    3px 3px 11px 0px rgba(50, 50, 50, 0.61);
    box-shadow:         3px 3px 11px 0px rgba(50, 50, 50, 0.61);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer;
}