body {
	background-color:#ff9c00;
	cursor: crosshair;
}

.outer {
	position:absolute;
	overflow:hidden;
	background-color:#ff9c00;
}

/* Layout */
.object {
	position:absolute;
}
.z-background {
	z-index:1000;
	top: 240px;
}
.z-background {
	z-index:990;
	top: 240px;
}
.z-characters {
	z-index:1500;
}
.z-modal {
	position:absolute;
	z-index:5000;
}
.load-hide {
	display:none;
	visibility: hidden;
}
.modal-close {
	width:50px;
	height:50px;
	cursor: pointer;
}

/* Individual elements */
#rsvp-elephant {
	top: 660px;
	left: 50px;
}
#rsvp-coming {
	top: 10px;
	left: 200px;
}
#rsvp-no {
	top: 710px;
	left: 830px;
	cursor: pointer;
}
#rsvp-yes {
	top: 710px;
	left: 1070px;
	cursor: pointer;
}
#rsvp-model {
	top: 1000px;
	left: 1400px;
}
#rsvp-mouse {
	top: 1150px;
	left: 500px;
}
#rsvp-rotating-star {
	top: -200px;
	left: 100px;
}
#rsvp_modal {
	top:250px;
	left:450px;
	height: 820px;
	width: 780px;
}

#location-background {
	top: 1525px;
}
#location-layout {
	left: 500px;
	top: 1875px;
}
#location-green-door {
	left: 50px;
	top: 1900px;
}
#location-door-arrow {
	left: 100px;
	top: 2450px;
}

#story-background {
	top: 3000px;
}
#story-title {
	left: 50px;
	top: 3200px;
}
#story-shikari {
	left: 1310px;
	top: 3400px;
}
#story-amulgirl {
	left: 80px;
	top: 3750px;
}
#story-buttering {
	left: 1000px;
	top: 4200px;
}
#story-marryme {
	left: 300px;
	top: 3700px;
}

#honeymoon-background {
	top: 4500px;
}
#honeymoon-spaceship {
	left: 350px;
	top: 5200px;
}

/*
.level1 {

	left:100px;
	z-index:1500;
	position: absolute;
	width:60%;
}
.level2 {
	left:50px;
	height:1500px;
	z-index: 1000;
	background-image:url("http://www.transparenttextures.com/patterns/argyle.png");
	position: absolute;
	width:60%;
}
.level3 {
	height:1500px;
	z-index: 500;
	background-image:url("http://www.transparenttextures.com/patterns/black-thread.png");
	position: absolute;
	width:60%;
}*/